<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBbT6bDEGUiMrgDj5WI7a6CkDVmpzgbeHY</string>
	<key>GCM_SENDER_ID</key>
	<string>205058012615</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.devshainyv.kotobaapp</string>
	<key>PROJECT_ID</key>
	<string>kotobanotis</string>
	<key>STORAGE_BUCKET</key>
	<string>kotobanotis.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:205058012615:ios:ebd86b81e7c5955f8e15e2</string>
</dict>
</plist>